html{
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
ul{
    list-style: none;
    max-width: 250px;
}
a{
    text-decoration: none;
    color: inherit;
}
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}
body{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    background: #414140;
}

.header{
    background-color: #151515;
}
.header-main{
    background-color: transparent;
}
.header-inner{
    padding: 40px;
    padding-bottom: 45px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.menu-list{
    display: flex;
    gap: 35px;
}
.menu-list-link{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
}
.footer{
    background-color: #151515;
    padding: 50px 0 32px;
    color: white;
}
.footer-menu{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;

}
.footer-menu-list{
    max-width: 250px;
}
.footer-menu-title{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
}

.footer-menu-item + .footer-menu-item{
    padding-top: 10px;
}
.main{
    flex-grow: 1;
}
.top{
    color: white;
    text-align: center;
    padding-bottom: 50px;
}
.title{
    padding-top: 105px;
    padding-bottom: 45px;
    font-size: 24px;
    font-weight: 700;
}
.first-step-link{
    background-color: #151515;
    padding: 23px;
    max-width: 730px;
    display: inline-block;
    width: 100%;
}